 .card-irrigate-active {
 border-top: 10px solid green;
 }

 .status-error {
 border-top: 10px solid gray;
 }

 .status-span{
 	display: none;
 	color: red;
 }

 .stop-irrigation{
 	display: none;
 }

.bmd-btn-fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
}