{% extends 'base.html' %} {% block nav_item_title %}Історія полива{% endblock %} {% block custom_css %} {% endblock %} {% block modals %}{% endblock %} {% block container %}
<div id="card-holder">
    <div class="row">
        {% for n in my_list %}
            {% include "rule_single.html" with context %}
        {% endfor %}
        <!-- <div class="switcher-wrapper">
    <ul class="list-group">
        <li class="list-group-item"><span>Показати всі правила</span>
            <div class="material-switch pull-right">
                <input id="all_rules" name="someSwitchOption001" type="checkbox" />
                <label for="all_rules" class="label-primary"></label>
            </div>
        </li>
    </ul>
</div>
<table id="rules_table" class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Лінія</th>
            <th>Дія</th>
            <th>Час</th>
            <th>Тривалість</th>
            <th>Статус</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for n in my_list %}
        <tr>
            <td class="text-center">{{n['branch_name']}}</td>
            <td>{{n['rule_name']}}</td>
            <td>{{n['timer']}}</td>
            <td>{{n['time']}}</td>
            {% if n['state'] == 2 %}
            <td>{{n['rule_state']}}</td>
            <td></td>
            {% elif n['state'] == 3 %}
            <td>{{n['rule_state']}}</td>
            <td></td>
            {% elif n['outdated'] == 1 %}
            <td>Застаріло</td>
            <td></td>
            {% elif 'Скасовано' in n['rule_state'] %}
            <td>{{n['rule_state']}}</td>
            <td></td>
            {% elif n['active'] == 0 %}
            <td>Неактивно</td>
            <td>
                <button type="button" class="btn btn-secondary" data-id={{n[ 'id']}} onclick="activate_rule(this)">Активувати</button>
            </td>
            {% else %}
            <td>{{n['rule_state']}}</td>
            <td>
                <button type="button" class="btn btn-secondary" data-id={{n[ 'id']}} onclick="cancel_rule(this)">Скасувати</button>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
 -->
    </div>
</div>{% endblock %} {% block custom_scripts %}
<script src="static/js/history_min.js"></script>{% endblock %}