{% extends 'base.html' %} {% block nav_item_title %}Стан полива{% endblock %} {% block modals %}
<div id="irrigate_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="irrigate_modal-label" aria-hidden="true" data-id='0'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title ">Почати полив</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" id="irrigation_minutes_group">
                    <label class="control-label" for="irrigation_minutes">Тривалість полива</label>
                    <input iinput type="number" pattern="\d*" class="form-control" id="irrigation_minutes" required>
                </div>
                <div class="form-group" id="irrigation_intervals_group">
                    <label for="irrigation_minutes">Кількість повторів</label>
                    <input input type="number" pattern="\d*" class="form-control" id="irrigation_intervals" value=1>
                </div>
                <div class="form-group" style="display:none" id="irrigation_time_wait_group">
                    <label for="irrigation_minutes">Час між поливами</label>
                    <input input type="number" pattern="\d*" class="form-control" id="irrigation_time_wait" value=1 required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary start-irrigation">Полити</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}
<!-- Custom styles for this template -->
{% block container %}
<div id="card-holder">
    <div class="row">
        {% for n in my_list %}
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-4">
            <div class="card card-irrigation" id="card-{{n['id']}}">
                <div class="card-block">
                    <div data-toggle="collapse" href="#collapse-{{n['id']}}" aria-expanded="false" aria-controls="collapse-{{n['id']}}">
                        <h4 class="card-title" id="title-{{n['id']}}">{{n['name']}}</h4>
                        <p class="card-text text-muted">
                            <span id="next-{{n['id']}}"></span>
                        </p>
                    </div>
                    <div class="collapse" id="collapse-{{n['id']}}">
                        <p class="card-text text-muted">
                            <span id="last-{{n['id']}}"></span>
                        </p>
                        <chart>
                        </chart>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary btn-open-modal disabled" data-id={{n[ 'id']}} id="btn-start-{{n['id']}}">Почати полив</a>
                        <a href="#" class="btn btn-primary stop-irrigation disabled" data-id={{n[ 'id']}} id="btn-stop-{{n['id']}}">Зупинити полив</a>
                        <a href="#" class="btn btn-secondary cancel-irrigation" data-id={{n[ 'id']}} id="btn-cancel-{{n['id']}}">Скасувати наступний полив</a>
                        <span class="status-span">В системі помилка</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr style="margin-top: 2rem; margin-bottom: 2rem" />
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-4">
        <div class="card" id="card-17">
            <div class="card-block">
                <h4 class="card-title" id="title-17">Насос</h4>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary btn-block btn-open-modal disabled" data-id="17" id="btn-start-17">Увімкнути</a>
                <a href="#" class="btn btn-primary btn-block stop-irrigation disabled" data-id="17" id="btn-stop-17">Вимкнути</a>
                <span class="status-span">В системі помилка</span>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block custom_scripts %}
<script src="static/js/index_min.js"></script>
{% endblock %}