{% extends 'base.html' %} {% block nav_item_title %}Постійні правила{% endblock %} {% block modals %}
<!-- Modal -->
<div id="irrigate_modal" class="modal fade top" tabindex="-1" role="dialog" aria-labelledby="irrigate_modal-label" aria-hidden="true" data-id='0'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title ">Постійне правило</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tbody>
                        <tr>
                            <th>Що поливати:</th>
                            <td>
                                <select class="form-control form-text-control" id="branch_select" title="Виберіть гілку полива"></select>
                            </td>
                        </tr>
                        <tr>
                            <th>Тривалість:</th>
                            <td>
                                <input type="number" pattern="\d*" class="form-control form-text-control" id="irrigation_minutes" required>
                            </td>
                        </tr>
                        <tr>
                            <th>Повтори:</th>
                            <td>
                                <input type="number" pattern="\d*" class="form-control form-text-control" id="irrigation_intervals" required>
                            </td>
                        </tr>
                        <tr id="irrigation_time_wait_group">
                            <th>Час між поливами:</th>
                            <td>
                                <input type="number" pattern="\d*" class="form-control form-text-control" id="irrigation_time_wait" required>
                            </td>
                        </tr>
                        <tr>
                            <th>Повторюється:</th>
                            <td>
                                <select class="form-control form-text-control" id="schedule_select">
                                    <option value=1 selected="selected" title="Кожен день">Кожен день</option>
                                    <option value=2 title="Кожні 2 дня">Кожні 2 дня</option>
                                    <option value=3 title="Кожні 3 дня">Кожні 3 дня</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr tabindex="0">
                            <th>Дата початку:</th>
                            <td>
                                <input type="date" class="form-control irrigation_date form-text-control">
                            </td>
                        </tr>
                        <tr tabindex="0">
                            <th>Час:</th>
                            <td>
                                <input type="time" class="form-control irrigation_time form-text-control">
                            </td>
                        </tr>
                        <tr>
                            <th>Дата завершення:</th>
                            <td>
                                <input type="date" id='end_date' class="form-control irrigation_end_date form-text-control">
                            </td>
                        </tr>
                        <tr tabindex="0">
                            <th></th>
                            <td><span id='summary'></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary add-flow" data-dismiss="modal">Скасувати</button>
                    <button type="button" class="btn btn-primary add-ongoing-rule add-flow">Додати</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}
<!-- Custom styles for this template -->
{% block container %}
<div id="card-holder">
    <div class="row">
        {% for n in my_list %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 top" data-id="{{n['rule_id']}}">
            <div class="card card-rule">
                <div class="card-block">
                    <div class="card-title">
                        <h4 style="display: inline-block; float: left;" id='line_id' data-id={{n['line_id']}}>{{n['name']}}</h4>
                        <div class="material-switch pull-right" style="display: inline-block; float: right;">
                            <input id="input_{{n[ 'rule_id']}}" class="active_true_false" type="checkbox" data-value={{n[ 'active']}} data-id="{{n[ 'rule_id']}}" />
                            <label for="input_{{n[ 'rule_id']}}" class="label-primary"></label>
                        </div>
                    </div>
                    <p class="card-text" style="display: inline-block;">
                        <table>
                            <tbody class="collapse" id="{{n['rule_id']}}">
                                <tr>
                                    <th>Тривалість:</th>
                                    <td>
                                        <input type="number" pattern="\d*" class="form-control form-text-control disabled" id="irrigation_minutes" value={{n[ 'time']}} required>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Повтори:</th>
                                    <td>
                                        <input type="number" pattern="\d*" class="form-control form-text-control disabled" id="irrigation_intervals" value={{n[ 'intervals']}} required>
                                    </td>
                                </tr>
                                <tr id="irrigation_time_wait_group">
                                    <th>Час між поливами:</th>
                                    <td>
                                        <input type="number" pattern="\d*" class="form-control form-text-control disabled" id="irrigation_time_wait" value={{n[ 'time_wait']}} required>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Повторюється:</th>
                                    <td>
                                        <select class="form-control form-text-control disabled" id="schedule_select" data-value={{n[ 'repeat_value']}}>
                                            <option value=1 selected="selected" title="Кожен день">Кожен день</option>
                                            <option value=2 title="Кожні 2 дня">Кожні 2 дня</option>
                                            <option value=3 title="Кожні 3 дня">Кожні 3 дня</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr tabindex="0">
                                    <th>Дата початку:</th>
                                    <td>
                                        <input class="form-control irrigation_date form-text-control disabled" type="date" data-value="{{n['date_time_start']}}">
                                    </td>
                                </tr>
                                <tr tabindex="0">
                                    <th>Час:</th>
                                    <td>
                                        <input type="time" class="form-control irrigation_time form-text-control disabled" data-value="{{n['date_time_start']}}">
                                    </td>
                                </tr>
                                <tr>
                                    <th>Дата завершення:</th>
                                    <td>
                                        <input class="form-control irrigation_end_date form-text-control disabled" type="date" id='end_date' data-value="{{n['end_date']}}">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <span id='summary'></span>
                    </p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-danger ongoing-rule-remove edit-flow" data-id="{{n['rule_id']}}">
                        Видалити
                    </button>
                    <button type="button" class="btn btn-secondary ongoing-rule-cancel edit-flow" data-id="{{n['rule_id']}}">
                        Скасувати зміни
                    </button>
                    <button type="button" class="btn btn-primary ongoing-rule-save edit-flow" data-id="{{n['rule_id']}}">
                        Зберегти правило
                    </button>

                    <button type="button" class="btn btn-secondary ongoing-rule-edit show-flow" data-id="{{n['rule_id']}}">
                        Редагувати
                    </button>
                    <button type="button" class="btn btn-primary show-flow" data-toggle="collapse" data-target="#{{n['rule_id']}}" aria-expanded="false" aria-controls="{{n['rule_id']}}">
                        <span class="if-collapsed">Деталі</span>
                        <span class="if-not-collapsed">Приховати деталі</span>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
        <div id='last_card'></div>
    </div>
</div>
<hr style="margin-top: 2rem; margin-bottom: 2rem" />

<h5>Додаткові дії</h5>
</br>
<button type="button" class="btn btn-raised btn-block btn-primary btn-open-modal">
    Додати постійне правило
</button>
<a class="btn btn-raised btn-block btn-secondary" href="/add_rule" role="button">
                    Додати одноразове правило
                </a>
<a class="btn btn-raised btn-block btn-secondary" href="/add_rule?add_to_date=0" role="button">
                    Запланувати полив на сьогодні
                </a>
<a class="btn btn-raised btn-block btn-secondary" href="/add_rule?add_to_date=1" role="button">
                    Запланувати полив на завтра
                </a> 
{% endblock %} {% block custom_scripts %}
<script src="static/js/ongoing_rules.js"></script>
{% endblock %}