<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 top" data-interval_id={{n[ 'interval_id']}} data-time={{n[ 'time']}} data-intervals={{n[ 'intervals']}} data-time_wait={{n[ 'time_wait']}} data-timer={{n[ 'timer']}} data-date={{n[ 'date']}}>
    <div class='card card-rule'>
        <div class='card-block'>
            <div class='card-title'>
                <h4 style='display: inline-block; float: left;' id='line_id' data-interval_id={{n[ 'interval_id']}}>{{n['line_name']}}</h4>
                <div class='material-switch pull-right' style='display: inline-block; float: right;'>
                    <input id='input_{{n[ ' interval_id ']}}' class='active_true_false' type='checkbox' data-value={{n[ 'active']}} data-id='{{n[ ' interval_id ']}}' />
                    <label for='input_{{n[ ' interval_id ']}}' class='label-primary'></label>
                </div>
            </div>
            <p class='card-text' style='display: inline-block;'>
                <table>
                    <tbody class='tbody' id='{{n[' interval_id ']}}'>
                        <tr>
                            <th>Тривалість:</th>
                            <td>
                                <input type='number' pattern='\d*' class='form-control form-text-control disabled' id='irrigation_minutes' value={{n[ 'time']}} required>
                            </td>
                        </tr>
                        <tr>
                            <th>Повтори:</th>
                            <td>
                                <input type='number' pattern='\d*' class='form-control form-text-control disabled' id='irrigation_intervals' value={{n[ 'intervals']}} required>
                            </td>
                        </tr>
                        <tr id='irrigation_time_wait_group'>
                            <th>Час між поливами:</th>
                            <td>
                                <input type='number' pattern='\d*' class='form-control form-text-control disabled' id='irrigation_time_wait' value={{n[ 'time_wait']}} required>
                            </td>
                        </tr>
                        <tr tabindex='0'>
                            <th>Дата початку:</th>
                            <td>
                                <input class='form-control irrigation_date form-text-control disabled' type='date' id='start_date' data-value='{{n[' date_time_start ']}}'>
                            </td>
                        </tr>
                        <tr tabindex='0'>
                            <th>Час:</th>
                            <td>
                                <input type='time' class='form-control irrigation_time form-text-control disabled' data-value='{{n[' date_time_start ']}}'>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <span id='summary'></span>
            </p>
        </div>
    </div>
</div>