<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 top" data-interval_id={{n[ 'interval_id']}} data-time={{n[ 'time']}} data-intervals={{n[ 'intervals']}} data-time_wait={{n[ 'time_wait']}} data-timer={{n[ 'timer']}} data-date={{n[ 'date']}}>
    <div class='card card-rule'>
        <div class='card-block'>
            <div class='card-title'>
                <h4 style='display: inline-block; float: left;' id='line_id' data-interval_id={{n[ 'interval_id']}}>{{n['line_name']}}</h4>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path fill="#000000" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
</svg></span>
                </button>
                <!-- <div style='display: inline-block; float: right;'></div> -->
            </div>
            <p class='card-text' style='display: inline-block;'>
                <br><span id='summary'></span>
            </p>
        </div>
    </div>
</div>