h5 {
    margin-left: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h4 {
    margin-left: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#no_card {
position: relative;
left: 22rem;
}

.dropdown-label {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: capitalize;
}

.if-not-collapsed {
    display: none;
}

.edit-flow {
    display: none;
}

.card-irrigate-active {
    border-top: 10px solid green;
}

.status-error {
    border-top: 10px solid gray;
}

.status-span {
    display: none;
    color: red;
}

.stop-irrigation {
    display: none;
}

.stop-lighting {
    display: none;
}

.bmd-btn-fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.cancel-irrigation {
    display: none;
}

.blur {
    filter: blur(3px);
}

.disabled {
    pointer-events: none;
}

.hidden {
    display: none!important;
}


.table,
.table tr,
.table td {
    background-color: white !important;
}

a,
a:hover {
    color: rgba(255, 255, 255, 0.56);
}

.bmd-layout-header {
    background-color: #f5f5f5;
    color: #757575;
}

.bmd-layout-header>.navbar {
    min-height: 3.5rem;
}

@media (min-width: 992px) {
    .bmd-layout-header>.navbar {
        min-height: 4rem;
    }
}

.bmd-layout-content {
    padding-top: .5rem;
    background-color: #f5f5f5;
}

.bmd-layout-drawer {
    background-color: #37474f;
    color: #eceff1;
}

.bmd-layout-drawer>header {
    background-color: #263238;
    height: 151px;
}

.bmd-layout-drawer>header .avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-bottom: 1rem;
}

.bmd-layout-drawer>header .account {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.bmd-layout-drawer>header .account .dropdown {
    margin-left: auto;
}

.bmd-layout-drawer>header .account .dropdown .dropdown-menu {
    font-size: .875rem;
}

.bmd-layout-drawer>header .account .dropdown .dropdown-menu .dropdown-item {
    flex-wrap: nowrap;
}

.bmd-layout-drawer>.list-group .list-group-item {
    color: rgba(255, 255, 255, 0.56);
}

.bmd-layout-drawer>.list-group .list-group-item:hover {
    background-color: #00BCD4;
    color: #37474F;
}

.bmd-layout-drawer>.list-group .list-group-item .material-icons {
    color: #78909c;
}

.material-switch>input[type="checkbox"] {
    display: none;
}

.material-switch>label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch>label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch>label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch>input[type="checkbox"]:checked+label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch>input[type="checkbox"]:checked+label::after {
    background: inherit;
    left: 20px;
}

.label-primary {
    background-color: #428bca;
}

.switcher-wrapper {
    float: right;
}

li>span {
    position: relative;
    left: 20px;
}