{% extends 'base.html' %} {% block nav_item_title %}Історія полива{% endblock %} {% block custom_css %} {% endblock %} {% block modals %}{% endblock %}
{% block container %}
         <table id="rules_table" class="table table-condensed table-striped">
         <thead>
          <tr>
            <th>Лінія</th>
            <th>Дія</th>
            <th>Час</th>
            <th>Статус</th>
            <th></th>
          </tr>
        </thead>
            <tbody>
               {% for n in my_list %}
               <tr>
               <td class="text-center">{{n['branch_name']}}</td>
               <td>{{n['rule_name']}}</td>
               <td>{{n['timer']}}</td>
                  {% if n['state'] == 2 %}
                     <td>{{n['rule_state']}}</td>
                     <td><button type="button" class="btn btn-secondary disabled" data-id={{n['id']}}">Полито</button></td>
                  {% elif n['state'] == 3 %}
                     <td>{{n['rule_state']}}</td>
                     <td><button type="button" class="btn btn-secondary disabled" data-id={{n['id']}}">{{n['rule_state']}}</button></td>
                  {% elif n['outdated'] == 1 %}
                     <td>Застаріло</td>
                     <td><button type="button" class="btn btn-secondary disabled" data-id={{n['id']}}">Застаріло</button></td>
                  {% elif n['active'] == 0 %}
                     <td>Неактивно</td>
                     <td><button type="button" class="btn btn-secondary" data-id={{n['id']}} onclick="activate_rule(this)">Активувати</button></td>
                  {% elif 'Скасовано' in n['rule_state'] %}          
                     <td>{{n['rule_state']}}</td>
                     <td><button type="button" class="btn btn-secondary disabled" data-id={{n['id']}}">Скасовано</button></td>
                  {% else %}
                     <td>{{n['rule_state']}}</td>
                     <td><button type="button" class="btn btn-secondary" data-id={{n['id']}} onclick="deactivate_rule(this)">Не виконувати</button></td>
                  {% endif %}
               </tr>
               {% endfor %}
            </tbody>
         </table>
         {{ pagination.links }}
      {% endblock %}
