{% extends 'base.html' %} {% block nav_item_title %}Освітлення{% endblock %} {% block modals %}
<div id="lighting_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="lighting_modal-label" aria-hidden="true" data-id=0>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title ">Увімкнути освітлення</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" id="lighting_minutes_group">
                    <label class="control-label" for="lighting_minutes">Тривалість освітлення</label>
                    <input iinput type="number" pattern="\d*" class="form-control" id="lighting_minutes" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary start-lighting">Увімкнути</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}
<!-- Custom styles for this template -->
{% block container %}
<div id="card-holder">
    <div class="row">
        {% for n in my_list %}
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <div class="card" id="card-{{n['id']}}">
                <div class="card-block">
                    <h4 class="card-title" id="title-{{n['id']}}">{{n['name']}}</h4>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-secondary btn-open-modal" data-id={{n['id']}} id="btn-start-with-options-{{n['id']}}">Налаштувати і увімкнути</a>
                    <a href="#" class="btn btn-primary btn-start" data-id={{n['id']}} id="btn-start-{{n['id']}}">Увімкнути</a>                    
                    <a href="#" class="btn btn-primary stop-lighting" data-id={{n['id']}} id="btn-stop-{{n['id']}}">Вимкнути</a>
                    <span class="status-span">В системі помилка</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} {% block custom_scripts %}
<script src="static/js/lighting.js"></script>
{% endblock %}