{% extends 'base.html' %} {% block nav_item_title %}Постійні правила{% endblock %} {% block modals %}
<div id="irrigate_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="irrigate_modal-label" aria-hidden="true" data-id='0'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title ">Постійне правило</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tbody>
                        <tr>
                            <th>Що поливати:</th>
                            <td>
                                <select class="form-control" id="exampleSelect1" title="Малина">
                                    <option value="0" title="Огірки">Газон в саду</option>
                                    <option value="4" title="Томати">Томати</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Тривалість:</th>
                            <td>
                                <input type="number" pattern="\d*" class="form-control irrigation_minutes" required>
                            </td>
                        </tr>
                        <tr>
                            <th>Повтори:</th>
                            <td>
                                <input type="number" pattern="\d*" class="form-control irrigation_minutes" required>
                            </td>
                        </tr>
                        <tr>
                            <th>Час між поливами:</th>
                            <td>
                                <input type="number" pattern="\d*" class="form-control irrigation_minutes" required>
                            </td>
                           
                        </tr>
                        <tr>
                            <th>Повторяється:</th>
                            <td>
                                <select class="form-control" id="exampleSelect1" title="Кожен день">
                                    <option value="1" selected="selected" title="Кожен день">Кожен день</option>
                                    <option value="2" title="Кожні 2 дня">Кожні 2 дня</option>
                                    <option value="3" title="Кожні 3 дня">Кожні 3 дня</option>
                                    <option value="4" title="Кожні 4 дня">Кожні 4 дня</option>
                                    <option value="5" title="Кожні 5 днів">Кожні 5 днів</option>
                                    <option value="6" title="Кожні 6 днів">Кожні 6 днів</option>
                                    <option value="7" title="Кожні 7 днів">Кожні 7 днів</option>
                                    <option value="8" title="Кожну неділю">Кожну неділю</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <th>Дні повторення:</th>
                            <td>
                                <label class="form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> ПН
                                </label>
                                <label class="form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> ВТ
                                </label>
                                <label class="form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> СР
                                </label>
                                <label class="form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> ЧТ
                                </label>
                                <label class="form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> ПТ
                                </label>
                                <label class="form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> СБ
                                </label>
                                <label class="form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> НД
                                </label>
                            </td>
                        </tr>
                        <tr tabindex="0">
                            <th id=":2y.rstart-label">Дата начала:</th>
                            <td>
                                <input class="form-control irrigation_date" type="date">
                            </td>
                        </tr>
                        <tr>
                            <th class="ep-rec-ends-th">Кінець:</th>
                            <td>
                                <fieldset class="form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Ніколи
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Кількість повторів
                                            <input type="number" pattern="\d*" class="form-control">
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                            <input class="form-control irrigation_date" type="date">
                                        </label>
                                    </div>
                                </fieldset>
                            </td>
                        </tr>
                        <tr tabindex="0" id=":2y.recsummary">
                            <th>Сводка:</th>
                            <td class="ep-rec-summary">Кажд. 3 нед. – четверг, до 21 дек 2017</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати</button>
                    <button type="button" class="btn btn-primary">Додати</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}
<!-- Custom styles for this template -->
{% block container %}
<div class="card-group">
    <div class="col-xs-6 col-sm-5 col-md-6 col-lg-5">
        <div class="card">
            <div class="card-block">
                <button type="button" class="btn btn-secondary btn-block btn-open-modal2">
                    Додати правило
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block custom_scripts %}
<script src="static/js/ongoing_rules.js"></script>
{% endblock %}