{% extends 'base.html' %} {% block nav_item_title %}Постійні правила{% endblock %} {% block modals %}
<div id="irrigate_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="irrigate_modal-label" aria-hidden="true" data-id='0'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title ">Постійне правило</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tbody>
                        <tr>
                            <th>Що поливати:</th>
                            <td>
                                <select class="form-control" id="branch_select" title="Виберіть гілку полива"></select>
                            </td>
                        </tr>
                        <tr>
                            <th>Тривалість:</th>
                            <td>
                                <input type="number" pattern="\d*" class="form-control" id="irrigation_minutes" required>
                            </td>
                        </tr>
                        <tr>
                            <th>Повтори:</th>
                            <td>
                                <input type="number" pattern="\d*" class="form-control" id="irrigation_intervals" required>
                            </td>
                        </tr>
                        <tr id="irrigation_time_wait_group" disabled>
                            <th>Час між поливами:</th>
                            <td>
                                <input type="number" pattern="\d*" class="form-control" id="irrigation_time_wait" required>
                            </td>
                        </tr>
                        <tr>
                            <th>Повторюється:</th>
                            <td>
                                <select class="form-control" id="schedule_select">
                                    <option value=1 selected="selected" title="Кожен день">Кожен день</option>
                                    <option value=2 title="Кожні 2 дня">Кожні 2 дня</option>
                                    <option value=3 title="Кожні 3 дня">Кожні 3 дня</option>
                                    <option value=4 title="Кожні 4 дня">Кожні 4 дня</option>
                                    <option value=5 title="Кожні 5 днів">Кожні 5 днів</option>
                                    <option value=6 title="Кожні 6 днів">Кожні 6 днів</option>
                                    <option value=7 title="Кожні 7 днів">Кожні 7 днів</option>
                                    <option value=8 title="Кожен тиждень">Кожен тиждень...</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr id="week_schedule" style="display: none">
                            <th>Дні повторення:</th>
                            <td>
                                <div id='checkboxes'>
                                    <label class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value=1 title="ПН"> ПН
                                    </label>
                                    <label class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value=2 title="ВТ"> ВТ
                                    </label>
                                    <label class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value=3 title="СР"> СР
                                    </label>
                                    <label class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value=4 title="ЧТ"> ЧТ
                                    </label>
                                    <label class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value=5 title="ПТ"> ПТ
                                    </label>
                                    <label class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value=6 title="СБ"> СБ
                                    </label>
                                    <label class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value=7 title="НД"> НД
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr tabindex="0">
                            <th>Дата початку:</th>
                            <td>
                                <input class="form-control irrigation_date" type="date">
                            </td>
                        </tr>
                        <tr tabindex="0">
                            <th>Час:</th>
                            <td>
                                <input type="time" class="form-control irrigation_time">
                            </td>
                        </tr>
                        <tr>
                            <th>Кінець:</th>
                            <td>
                                <fieldset class="form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="radio_1" value=1 checked> Через місяць
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="radio_2" value=2> Кількість повторів
                                            <input type="number" pattern="\d*" class="form-control radio_input" id="quantity">
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="radio_3" value=3> Дата
                                            <input class="form-control radio_input" type="date" id='date'>
                                        </label>
                                    </div>
                                </fieldset>
                            </td>
                        </tr>
                        <tr tabindex="0">
                            <th></th>
                            <td><span id='summary'>Кажд. 3 нед. – четверг, до 21 дек 2017</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати</button>
                    <button type="button" class="btn btn-primary">Додати</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}
<!-- Custom styles for this template -->
{% block container %}
<div id="card-holder">
    <div class="row">
    {% for n in my_list %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-block">
                    <div class="card-title">
                        <h4 data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="display: inline-block;">{{n['name']}}</h4>
                        <div class="material-switch pull-right" style="display: inline-block; float: right;">
                            <input id="all_rules" name="someSwitchOption001" type="checkbox" />
                            <label for="all_rules" class="label-primary"></label>
                        </div>
                    </div>
                    <p class="card-text">
                        <table>
                            <tbody class="collapse" id="collapseExample">
                                <tr>
                                    <th>Тривалість:</th>
                                    <td>
                                        <input type="number" pattern="\d*" class="form-control" id="irrigation_minutes" value={{n['time']}} required>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Повтори:</th>
                                    <td>
                                        <input type="number" pattern="\d*" class="form-control" id="irrigation_intervals" value={{n['intervals']}} required>
                                    </td>
                                </tr>
                                <tr id="irrigation_time_wait_group" disabled>
                                    <th>Час між поливами:</th>
                                    <td>
                                        <input type="number" pattern="\d*" class="form-control" id="irrigation_time_wait" value={{n['time_wait']}}  required>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Повторюється:</th>
                                    <td>
                                        <select class="form-control" id="schedule_select" data-value={{n['repeat_value']}}>
                                            <option value=1 selected="selected" title="Кожен день">Кожен день</option>
                                            <option value=2 title="Кожні 2 дня">Кожні 2 дня</option>
                                            <option value=3 title="Кожні 3 дня">Кожні 3 дня</option>
                                            <option value=4 title="Кожні 4 дня">Кожні 4 дня</option>
                                            <option value=5 title="Кожні 5 днів">Кожні 5 днів</option>
                                            <option value=6 title="Кожні 6 днів">Кожні 6 днів</option>
                                            <option value=7 title="Кожні 7 днів">Кожні 7 днів</option>
                                            <option value=8 title="Кожен тиждень">Кожен тиждень...</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr id="week_schedule" style="display: none">
                                    <th>Дні повторення:</th>
                                    <td>
                                        <div id='checkboxes' data-checked={{n['dow']}}>
                                            <label class="form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="dow_1" value=1 title="ПН"> ПН
                                            </label>
                                            <label class="form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="dow_2" value=2 title="ВТ"> ВТ
                                            </label>
                                            <label class="form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="dow_3" value=3 title="СР"> СР
                                            </label>
                                            <label class="form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="dow_4" value=4 title="ЧТ"> ЧТ
                                            </label>
                                            <label class="form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="dow_5" value=5 title="ПТ"> ПТ
                                            </label>
                                            <label class="form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="dow_6" value=6 title="СБ"> СБ
                                            </label>
                                            <label class="form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="dow_7" value=7 title="НД"> НД
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr tabindex="0">
                                    <th>Дата початку:</th>
                                    <td>
                                        <input class="form-control irrigation_date" type="date" data-value={{n['date_start']}}>
                                    </td>
                                </tr>
                                <tr tabindex="0">
                                    <th>Час:</th>
                                    <td>
                                        <input type="time" class="form-control irrigation_time" data-value={{n['time_start']}}>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Кінець:</th>
                                    <td>
                                        <fieldset class="form-group" data-checked={{n['end_value']}} data-value={{n['repeat_value']}}>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="radio_1" value=1 checked> Через місяць
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label class="radio">
                                                    <input type="radio" name="optionsRadios" id="radio_2" value=2> Кількість повторів
                                                    <input type="number" pattern="\d*" class="form-control radio_input" id="quantity">
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="radio_3" value=3> Дата
                                                    <input class="form-control radio_input" type="date" id='date'>
                                                </label>
                                            </div>
                                        </fieldset>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <span id='summary' data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Кажд. 3 нед. – четверг, до 21 дек 2017</span>
                    </p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-secondary">Видалити</button>
                    <button type="button" class="btn btn-secondary">Редагувати</button>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<div class="col-xs-6 col-sm-5 col-md-6 col-lg-5">
    <div class="card">
        <div class="card-block">
            <button type="button" class="btn btn-secondary btn-block btn-open-modal2">
                Додати постійне правило
            </button>
        </div>
    </div>
</div>
</div>
{% endblock %} {% block custom_scripts %}
<script src="static/js/ongoing_rules.js"></script>
{% endblock %}