{% extends 'base.html' %} {% block nav_item_title %}Розклад полива{% endblock %} {% block custom_css %} {% endblock %} {% block modals %}{% endblock %} {% block container %}
<div class="table-responsive">
<table id="rules_table" class="table table-condensed table-striped ">
    <thead>
        <tr>
            <th>Лінія</th>
            <th>Дія</th>
            <th>Час</th>
            <th>Статус</th>
            <th></th>
          </tr>
    </thead>
    <tbody>
        {% for n in my_list %}
        <tr>
            <td class="text-center">{{n['branch_name']}}</td>
            <td>{{n['rule_name']}}</td>
            <td>{{n['timer']}}</td>
            {% if n['state'] == 2 %}
            <td>{{n['rule_state']}}</td>
            <td>
                <button type="button" class="btn btn-default disabled" data-id={{n[ 'id']}} ">Выполнено</button></td>
                  {% elif n['state'] == 3 %}
                     <td>{{n['rule_state']}}</td>
                     <td><button type="button " class="btn btn-default disabled " data-id={{n['id']}}">{{n['rule_state']}}</button>
            </td>
            {% elif n['outdated'] == 1 %}
            <td>Устарело</td>
            <td>
                <button type="button" class="btn btn-default disabled" data-id={{n[ 'id']}} ">Устарело</button></td>
                  {% elif n['active'] == 0 %}
                     <td>Неактивно</td>
                     <td><button type="button " class="btn btn-default " data-id={{n['id']}} onclick="activate_rule(this) ">Активировать</button></td>
                  {% elif 'Отменено' in n['rule_state'] %}          
                     <td>{{n['rule_state']}}</td>
                     <td><button type="button " class="btn btn-default disabled " data-id={{n['id']}}">Отменено</button>
            </td>
            {% else %}
            <td>{{n['rule_state']}}</td>
            <td>
                <button type="button" class="btn btn-default" data-id={{n[ 'id']}} onclick="deactivate_rule(this)">Не выполнять</button>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}