[Unit]
Description=Backend part of irrigation system for peregonivka port 7543
After=network.target
Requires=network.target

[Service]
ExecStart=/usr/bin/python3 /var/www/v4/irrigation_python.py >> /var/log/irrigation_backend/run_7543.log 2>&1
ExecReload=(/bin/kill -9 $(/usr/bin/lsof -t -i:7543 -sTCP:LISTEN));(/usr/bin/python3 /var/www/v4/irrigation_python.py >> /var/log/irrigation_backend/run_7543.log 2>&1)
ExecStop=/bin/kill -9 $(/usr/bin/lsof -t -i:7543 -sTCP:LISTEN)

Restart=always
RestartSec=5
TimeoutSec=5
User=root

[Install]
WantedBy=multi-user.target
